Django==4.2.18
psycopg2-binary==2.9.9
djangorestframework==3.14.0
django-cors-headers==4.3.1
django-jsonform==2.21.1
drf-yasg==1.21.7
django-import-export==3.3.7
django-filter==23.5
openpyxl==3.1.2
python-dotenv==1.0.1
setuptools==68.2.2
djangorestframework-simplejwt==5.3.1
requests
celery==5.3.6
Pillow==10.4.0
xhtml2pdf==0.2.11
fpdf2==2.7.9
qrcode[pil]==7.4.2
